/**
 * 左侧的 markdown 看起来并不美观。
 *
 * 我们稍作修饰。
 */

#work-text {
  max-height: 94.5%;
}

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 1200px;
}

/**
 * 下面就是见证奇迹的时刻：
 *
 * 3。
 * 2。
 * 1。
 *
 * 。
 * 骗你啦，啥也没有~
 *
 * 好吧，其实是有的，来了。
 *
 */
