
/**
 * 文本可以做一些适当调整。
 */

.md {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  display: inline-block;
  color: #ddd;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.md li {
  margin: 5px 0;
  line-height: 1.5;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md ul, .md p {
  margin: 0px;
}


/**
 * 还差最后一点就结束了。
 */

pre:hover{
  box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
}

/**
 * 希望你能喜欢，这个创意是参考国外一个牛人的，
 * 我觉得很有趣，就用 Vue.js 重构了一遍。
 *
 * 如果你觉得我还不错，可以与我联系~
 */


