html, body
  margin-top: 0
  height: 100%
  overflow: hidden

pre
  max-height: 90%
  width: 100%
  overflow: auto
  border-radius: 1px

a:after
  content: ''
  padding-right: 5px
  border-right-width: 1px
  border-right-style: solid
  border-color: inherit

a:last-of-type:after
  border: none
